@page
@model WebApplication.Pages.Admin.Candies.IndexModel
@{
    ViewData["Title"] = "Сладости";
}

<div class="cs-container-lg">
    <div class="cs-admin cs-font-primary">
        <h2 class="cs-text-center cs-admin-header cs-font-red cs-dashed">@ViewData["Title"]</h2>
        <div class="cs-text-center cs-admin-header">
            <a class="cs-btn cs-btn-primary" asp-page="/Admin/Candies/Edit">НОВАЯ СЛАДОСТЬ</a>
        </div>
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (!Model.Candies.Any())
                {
                    <tr>
                        <td colspan="4" class="cs-text-center cs-font-red">У вас еще нет добавленных сладостей.</td>
                    </tr>
                }

                else
                {
                    @foreach (var item in Model.Candies)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="buttons">
                                    <a class="btn cs-btn cs-btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Редактировать"
                                       asp-page="/Admin/Candies/Edit" asp-route-ID="@item.Id">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a class="btn cs-btn cs-btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить"
                                       asp-page="/Admin/Candies/Delete" asp-route-ID="@item.Id">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>